img{
	position:absolute;
	width:300px;
	height:250px; 
}
.debut{
	left:10px;
	top:80px; 
}

.basg{
	left:10px;
	top:180px; 
}

.basd{
/*	left:210px;
	top:180px; 
	transform: rotateY(130deg);
//-webkit-transform: rotateY(130deg);*/
transform: translate(210px,180px);
-ms-transform: translate(210px,180px); /* IE 9 */
-webkit-transform: translate(210px,180px); 
}

.hautd{
	left:210px;
	top:80px; 
}